Final Deliverables/Coding/web.py
[{"id":"106623df9819f374","type":"tab","label":"User Page","disabled":false,"info":"","env":[]},{"id":"f52cc72524bafd3a","type":"tab","label":"User signUp Login","disabled":false,"info":"","env":[]},{"id":"f71bd8f6e16cc47c","type":"tab","label":"Ticket Form","disabled":false,"info":"","env":[]},{"id":"99ac19833e40aec1","type":"tab","label":"TTE Page","disabled":false,"info":"","env":[]},{"id":"88ddf047c2fd0805","type":"tab","label":"Train Tracking","disabled":false,"info":"","env":[]},{"id":"5b3f26cba8e93049","type":"users_config","appPath":"/users","jwtCookieName": "nr.nodeUsers.jwt","jwtHttpsOnly":false},{"id":"0dfef9b459d61191","type":"ui_tab","name":"Home","icon":"dashboard","order":1," disabled":false,"hidden":false},{"id":"d85a525c8867cf2b","type":"ui_base","theme":{"name":"themecustom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Palatino Linotype,Palatino,Book Antiqua,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-applesystem,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sansserif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#8080c0","baseFont":"Georgia,Georgia,serif","reset":false},"themeState":{"basecolor":{"default":"#80ffff","value":"#8080c0","edited":true},"page-titlebarbackgroundColor":{"value":"#8080c0","edited":true},"page-backgroundColor":{"value":"#d6d6d6","edited":true},"page-sidebarbackgroundColor":{"value":"#ffcaca","edited":true},"group-textColor":{"value":"#6060b0","edited":true},"groupborderColor":{"value":"#ffcaca","edited":true},"group-backgroundColor":{"value":"#ffcaca","edited":true},"widgettextColor":{"value":"#800040","edited":true},"widget-backgroundColor":{"value":"#8080c0","edited":false},"widgetborderColor":{"value":"#ffcaca","edited":true},"basefont":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","p alette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"mouse","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YY YY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"af25474ab01a783e","type":"ui_group","name":"M enu","tab":"0dfef9b459d61191","order":1,"disp":false,"width":"21","collapse":false,"className":""},{"id":"37a267ed1a458278","typ e":"ui_group","name":"SignUp","tab":"0dfef9b459d61191","order":4,"disp":false,"width":"21","collapse":false,"className":""},{"id ":"dd16910af93d326e","type":"mqtt- broker","name":"","broker":"159.122.187.79","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","kee palive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","clos ePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e 7c9ad3de4bd9e20","type":"mqttbroker","name":"","broker":"159.122.187.79:31365","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":" 4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":" 0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}, {"id":"2b05317674db32db","type":"ui_group","name":"About","tab":"0dfef9b459d61191","order":5,"disp":false,"width":"21","collap se":false,"className":""},{"id":"b944bd655d2bb705","type":"ui_group","name":"Log in","tab":"0dfef9b459d61191","order":3,"disp":false,"width":"21","collapse":false,"className":""},{"id":"e539a1caeb151c3c","type" :"ui_tab","name":"Admin - TTE","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fbcf6d0e950f0337","type":"ui_tab","name":"passenger","i con":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"6fb2565163e214d9","type":"ui_group","name":"Login ","tab":"e539a1caeb151c3c","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"ac7d73420ebc6459","type":"ui_g roup","name":"first","tab":"fbcf6d0e950f0337","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"b7c6ddcc 5be17ee3","type":"ui_group","name":"ticket_form","tab":"fbcf6d0e950f0337","order":2,"disp":false,"width":"20","collapse":false,"cl assName":""},{"id":"46f765adf5acf298","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","group":"1e7acda3dbadea74"," order":2,"width":15,"height":1},{"id":"8b17d83192adb977","type":"ui_tab","name":"Track_Train_status","icon":"dashboard","order" :4,"disabled":false,"hidden":false},{"id":"cbdee607deecfaad","type":"ui_group","name":"Train1","tab":"8b17d83192adb977","order": 2,"disp":false,"width":"22","collapse":false,"className":""},{"id":"b8abd299d2d34998","type":"ui_group","name":"Train2","tab":"8 b17d83192adb977","order":3,"disp":false,"width":"22","collapse":false,"className":""},{"id":"f7659eba2a245636","type":"ui_group ","name":"Train3","tab":"8b17d83192adb977","order":4,"disp":false,"width":"22","collapse":false,"className":""},{"id":"4a564af77 23db036","type":"ui_group","name":"Choose_the_Train ","tab":"8b17d83192adb977","order":1,"disp":true,"width":"22","collapse":false,"className":""},{"id":"2fab6fa94a4588a3","type":"i bmiot","name":"tracking","keepalive":"60","serverName":"ryc4pr.messaging.internetofthings.ibmcloud.com","cleansession":true,"app Id":"","shared":false},{"id":"f1bf4bbdbf956cb5","type":"ui_tab","name":"TTE_dashboard","icon":"dashboard","order":5,"disabled":f alse,"hidden":true},{"id":"c5d2c2754eeda1d3","type":"ui_group","name":"Page","tab":"f1bf4bbdbf956cb5","order":1,"disp":false,"wi dth":"20","collapse":false,"className":""},{"id":"4ee6dabc3e4b1e80","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer"," group":"af25474ab01a783e","order":2,"width":1,"height":1},{"id":"6d9fd8b05e1c2998","type":"ui_spacer","z":"88ddf047c2fd0805", "name":"spacer","group":"af25474ab01a783e","order":4,"width":1,"height":1},{"id":"4468c898548661e8","type":"ui_spacer","z":"88 ddf047c2fd0805","name":"spacer","group":"b944bd655d2bb705","order":1,"width":4,"height":1},{"id":"96142a07ada7d33e","type":" ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"b944bd655d2bb705","order":3,"width":5,"height":1},{"id":"be948986 d354340b","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"b944bd655d2bb705","order":4,"width":4,"height": 1},{"id":"75c85ca17c61bdf8","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"b944bd655d2bb705","order":6," width":5,"height":1},{"id":"484331e256116c26","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"b944bd655d2 bb705","order":7,"width":4,"height":1},{"id":"dea324d0288a4881","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","gro up":"b944bd655d2bb705","order":9,"width":5,"height":1},{"id":"2024524ddcf2783c","type":"ui_spacer","z":"88ddf047c2fd0805","n ame":"spacer","group":"37a267ed1a458278","order":1,"width":3,"height":1},{"id":"9d8c693cf1b03f1b","type":"ui_spacer","z":"88dd f047c2fd0805","name":"spacer","group":"37a267ed1a458278","order":3,"width":4,"height":1},{"id":"7406575921eb9d90","type":"ui _spacer","z":"88ddf047c2fd0805","name":"spacer","group":"37a267ed1a458278","order":4,"width":3,"height":1},{"id":"8613862773 a73fc2","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"37a267ed1a458278","order":6,"width":4,"height":1},{ "id":"4b196e5dabf02d37","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"37a267ed1a458278","order":7,"widt h":3,"height":1},{"id":"1d5724b5612be930","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"37a267ed1a4582 78","order":9,"width":4,"height":1},{"id":"49c7bbf887dce81a","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group": "2b05317674db32db","order":1,"width":3,"height":1},{"id":"b7c1b4ca11675f82","type":"ui_spacer","z":"88ddf047c2fd0805","name" :"spacer","group":"2b05317674db32db","order":3,"width":2,"height":1},{"id":"9fc344618e3e4c9f","type":"ui_spacer","z":"88ddf047 c2fd0805","name":"spacer","group":"2b05317674db32db","order":4,"width":3,"height":1},{"id":"36b84d7dc54d8797","type":"ui_spa cer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db32db","order":6,"width":2,"height":1},{"id":"6355d36167084 382","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db32db","order":7,"width":3,"height":1},{"i d":"edce366b4204485e","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db32db","order":8,"width ":2,"height":1},{"id":"645b02a51b951195","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db32d b","order":9,"width":3,"height":1},{"id":"c39b4ad01afada04","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":" 2b05317674db32db","order":10,"width":2,"height":1},{"id":"e7df4e0f0f9bc3fa","type":"ui_spacer","z":"88ddf047c2fd0805","name": "spacer","group":"2b05317674db32db","order":11,"width":3,"height":1},{"id":"4558a70126809f89","type":"ui_spacer","z":"88ddf04 7c2fd0805","name":"spacer","group":"2b05317674db32db","order":12,"width":2,"height":1},{"id":"0fb6da2833f057f0","type":"ui_sp acer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db32db","order":13,"width":3,"height":1},{"id":"91edb95c13ce b791","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db32db","order":14,"width":2,"height":1},{ "id":"9377707a3427168c","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db32db","order":15,"wi dth":3,"height":1},{"id":"820cb4cb7abd373e","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2b05317674db3 2db","order":16,"width":2,"height":1},{"id":"4f389b5be84fd04c","type":"cloudant","host":"https://apikey-v2- 2nj10yddprnysqlyob7hpaygcan5c7vzx847vz9m81wl:1073d4da9d2051ac8fa7e2e497b0f968@9163f25a-10b8-4374-a8decb92e4357567- bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"2ce80e7fb4c43499","type":"ui_group","name":"Back","tab":"8b17d83 192adb977","order":5,"disp":false,"width":"22","collapse":false,"className":""},{"id":"c27b125e66b4392c","type":"ui_spacer","z":" 88ddf047c2fd0805","name":"spacer","group":"4a564af7723db036","order":2,"width":2,"height":1},{"id":"486d82995bd8a450","type ":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"4a564af7723db036","order":4,"width":2,"height":1},{"id":"fde7498 6e465b958","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2ce80e7fb4c43499","order":1,"width":8,"height": 1},{"id":"31d00abc905c7b8f","type":"ui_spacer","z":"88ddf047c2fd0805","name":"spacer","group":"2ce80e7fb4c43499","order":3," width":8,"height":1},{"id":"677fd414506f8cdc","type":"cloudant","host":"https://apikey-v2- 2nj10yddprnysqlyob7hpaygcan5c7vzx847vz9m81wl:1073d4da9d2051ac8fa7e2e497b0f968@9163f25a-10b8-4374-a8decb92e4357567- bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"854040eda360f61e","type":"cloudant","host":"https://apikey-v2- 1w8tqt2prt3j7qz9d1rgrxhar3w9v43i2359u79ut5jb:86181a38eca19ae487f512b10aca0c80@9163f25a-10b8-4374-a8de-cb92e4357567- bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"db4157730f8a536b","type":"ibmiot","name":"qrcode","keepalive":"60 ","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2c1ff0d8150c702f","type":"ui_spacer","z":"f52cc72524bafd3 a","name":"spacer","group":"ac7d73420ebc6459","order":1,"width":3,"height":1},{"id":"3b32077ac4178102","type":"ui_spacer","z": "f52cc72524bafd3a","name":"spacer","group":"ac7d73420ebc6459","order":3,"width":2,"height":1},{"id":"d0ff1fed04710c52","type" :"ui_spacer","z":"f52cc72524bafd3a","name":"spacer","group":"ac7d73420ebc6459","order":5,"width":3,"height":1},{"id":"594eec2c 813363ef","type":"ui_spacer","z":"f52cc72524bafd3a","name":"spacer","group":"b7c6ddcc5be17ee3","order":9,"width":5,"height":1} ,{"id":"94245c57d916875d","type":"ui_spacer","z":"f52cc72524bafd3a","name":"spacer","group":"b7c6ddcc5be17ee3","order":11,"w idth":13,"height":1},{"id":"70f24333f5620ef9","type":"cloudantplus-selector","host":"https://apikey-v2- 1w8tqt2prt3j7qz9d1rgrxhar3w9v43i2359u79ut5jb:86181a38eca19ae487f512b10aca0c80@9163f25a-10b8-4374-a8de-cb92e4357567- bluemix.cloudantnosqldb.appdomain.cloud","name":"Storing user details"},{"id":"f8876e210398cac1","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","group":"c5d2c2754eeda1d3","orde r":1,"width":2,"height":1},{"id":"dbc4b04731ecd88d","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","group":"c5d2c27 54eeda1d3","order":3,"width":3,"height":1},{"id":"38946de0cb2d7421","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer", "group":"c5d2c2754eeda1d3","order":4,"width":2,"height":1},{"id":"5a765e5e4c448e31","type":"ui_spacer","z":"f71bd8f6e16cc47c" ,"name":"spacer","group":"c5d2c2754eeda1d3","order":6,"width":3,"height":1},{"id":"e39831c037acaa50","type":"ui_spacer","z":"f7 1bd8f6e16cc47c","name":"spacer","group":"c5d2c2754eeda1d3","order":7,"width":20,"height":1},{"id":"fd7cb362c823d83f","type":" ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","group":"c5d2c2754eeda1d3","order":8,"width":20,"height":1},{"id":"7e306ac2 e09e4f2b","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","group":"c5d2c2754eeda1d3","order":9,"width":20,"height":1 },{"id":"59751d8b1f2403a5","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","group":"c5d2c2754eeda1d3","order":10," width":20,"height":1},{"id":"a2e74d3a5587c34a","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","group":"c5d2c2754ee da1d3","order":11,"width":20,"height":1},{"id":"0c6f181abf5b1afc","type":"ui_spacer","z":"f71bd8f6e16cc47c","name":"spacer","gr oup":"c5d2c2754eeda1d3","order":13,"width":10,"height":1},{"id":"ed8daa5e8711d712","type":"ui_button","z":"106623df9819f374" ,"name":"","group":"af25474ab01a783e","order":1,"width":6,"height":1,"passthru":false,"label":"Login Page","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_SignUp\",\"Home_ About\"],\"show\":[\"Home_Log_in\",\"Home_Menu\"]}}","payloadType":"json","topic":"payload","topicType":"msg","x":190,"y":8 0,"wires":[["991a680d9b086de0"]]},{"id":"75ddc24d5ff1d53d","type":"ui_button","z":"106623df9819f374","name":"","group":"af25 474ab01a783e","order":3,"width":7,"height":1,"passthru":false,"label":"New User? Sign Up","tooltip":"","color":"","bgcolor":"brown","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Log_in\",\"Home_ About\"],\"show\":[\"Home_SignUp\",\"Home_Menu\"]}}","payloadType":"json","topic":"payload","topicType":"msg","x":170,"y":1 40,"wires":[["991a680d9b086de0"]]},{"id":"d08faaff53a99f7e","type":"ui_button","z":"106623df9819f374","name":"","group":"af25 474ab01a783e","order":5,"width":6,"height":1,"passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"Orange","className ":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Log_in\",\"Home_SignUp\"],\"show\":[\"Home_Menu\",\"Home_About\"]}}" ,"payloadType":"json","topic":"payload","topicType":"msg","x":190,"y":200,"wires":[["991a680d9b086de0"]]},{"id":"991a680d9b08 6de0","type":"ui_ui_control","z":"106623df9819f374","name":"UI control","events":"all","x":480,"y":140,"wires":[["e4c29812b69a946b"]]},{"id":"e4c29812b69a946b","type":"debug","z":"106623df9 819f374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVa l":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"2004f9187df2430c","type":"comment","z":"106623df9819f374","name": "User menu","info":"","x":360,"y":40,"wires":[]},{"id":"a1433945d9f134f4","type":"comment","z":"106623df9819f374","name":"Admin menu","info":"","x":170,"y":300,"wires":[]},{"id":"4253f90596914026","type":"comment","z":"106623df9819f374","name":"Train location","info":"","x":170,"y":420,"wires":[]},{"id":"b98c0cadc7aef4f8","type":"comment","z":"106623df9819f374","name":"Contai ns Login Page and Dashboard for TTE","info":"","x":330,"y":360,"wires":[]},{"id":"4de42730f904f71a","type":"comment","z":"106623df9819f374","name":"Enables user to track the live location of Different Trains ","info":"","x":370,"y":480,"wires":[]},{"id":"f9e380bf9c0b07b4","type":"comment","z":"f52cc72524bafd3a","name":"Sign Up Page","info":"","x":110,"y":360,"wires":[]},{"id":"20c620543e5f16f6","type":"function","z":"f52cc72524bafd3a","name":"Resets sign up form","func":"var msg1 = { payload: false };\nvar msg2 = { payload: false };\nvar msg3 = { payload: false };\nvar msg4 = { payload: false };\nmsg = { payload: \"\" };\n\nreturn [msg1, msg2, msg3, msg4, msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":440,"wires":[["4a31728a8701c9de"]]},{"id":"4a31728a8 701c9de","type":"ui_form","z":"f52cc72524bafd3a","name":"Sign Up form","label":"","group":"37a267ed1a458278","order":5,"width":14,"height":1,"options":[{"label":"Choose a username","value":"username","type":"text","required":true,"rows":null},{"label":"Choose a password","value":"password","type":"password","required":true,"rows":null},{"label":"Enter your email address","value":"mail","type":"email","required":true,"rows":null},{"label":"Enter your Phone Number","value":"phoneNumber","type":"text","required":true,"rows":null}],"formValue":{"username":"","password":"","mail":"","p honeNumber":""},"payload":"","submit":"submit","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":"","classNam e":"","x":110,"y":540,"wires":[["20c620543e5f16f6","d11cf7d42c5f1ee1","4bf26f3350375ca5"]]},{"id":"d11cf7d42c5f1ee1","type":" function","z":"f52cc72524bafd3a","name":"Creation of Account","func":"var signup = context.get('signup') || [];\nsignup.push(msg);\nif (signup.length > 20) {\n signup.shift();\n signup.length = 20;\n}\ncontext.set('signup', signup);\nmsg = {};\nmsg.payload = signup;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["7574e8aac64ecb26","44f5a8f98a8f4c44"," 707b2b2572d7d441"]]},{"id":"46fc2bf4889ccdf0","type":"comment","z":"f52cc72524bafd3a","name":"Confirmation of Sign up","info":"","x":620,"y":540,"wires":[]},{"id":"7d458d15a4155be9","type":"ui_text","z":"f52cc72524bafd3a","group":"37a267ed1a4 58278","order":8,"width":14,"height":1,"name":"SignUp Feedback","label":"","format":"{{msg.payload}}","layout":"rowspread","className":"","x":990,"y":620,"wires":[]},{"id":"7574e8aac64ecb26","type":"function","z":"f52cc72524bafd3a","name":"C onfirmation Message","func":"msg.payload = \"Your Account is successfully created\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":620,"wires":[["7d458d15a4155be9"]]},{"id":"d1370f5ee2 f35dad","type":"comment","z":"f52cc72524bafd3a","name":"Login page","info":"","x":130,"y":40,"wires":[]},{"id":"cefa9967356fb848","type":"comment","z":"f52cc72524bafd3a","name":"About","in fo":"","x":90,"y":760,"wires":[]},{"id":"8465dcef34557fe1","type":"ui_form","z":"f52cc72524bafd3a","name":"","label":"","group":" b944bd655d2bb705","order":5,"width":12,"height":1,"options":[{"label":"username","value":"username","type":"text","required":true ,"rows":null},{"label":"password","value":"password","type":"text","required":true,"rows":null}],"formValue":{"username":"","pass word":""},"payload":"","submit":"Login","cancel":"","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":110," y":140,"wires":[["f8d861a74351f205"]]},{"id":"f8d861a74351f205","type":"delay","z":"f52cc72524bafd3a","name":"","pauseType":" delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","random Last":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":140,"wires":[["33dc8e14ded24e18"]]},{"id ":"33dc8e14ded24e18","type":"function","z":"f52cc72524bafd3a","name":"Login Checker","func":"var userName = [\"user1\",\"user2\",\"user3\",\"user4\"];\nvar userCode = [\"123\",\"456\",\"789\",\"012\"];\nvar name;\nvar pass;\nvar msg1,msg2;\n\nname=msg.payload.username;\npass = msg.payload.password;\n\nmsg1=userName.includes(name);\nmsg2=userCode.includes(pass);\n\nif(msg1==true && msg2==true)\n{\n msg = {payload:2};\n}\nelse\n{\n msg = {payload:0};\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":140,"wires":[["ad9a0f7ca9f8cd3e","3fb941c5011005c9" ,"72fd7a4d5406998a","52450b1804804a6d"]]},{"id":"3b6652d124ebc609","type":"ui_text","z":"f52cc72524bafd3a","group":"b944b d655d2bb705","order":8,"width":12,"height":1,"name":"Login feedback","label":"","format":"{{msg.payload}}","layout":"rowspread","className":"","x":1080,"y":260,"wires":[]},{"id":"8645d955a9d6c18e","type":"template","z":"f52cc72524bafd3a","name":" CSS","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n background-color: #141414;\n backgroundimage:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMD AlJyBoZWlnaHQ9JzEyMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0 nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJCQk8cGF0aCBmaW xsLW9wYWNpdHk9JzAnIHN0cm9rZT0nIzI5MjkyOScgc3Ryb2tlLXdpZHRoPScwLjA5JyBkPSdNLTIsMUw3LDEwTS0yLDZMN ywxNU0tMiwtNEw3LDUnLz4KCQk8L3BhdHRlcm4+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScg aWQ9J2MyJyB3aWR0aD0nNjAnIGhlaWdodD0nMTIwJyB4PScxMDAlJyB5PScwJyB2aWV3Qm94PScwIDAgNSAxMCc+CgkJC TxwYXRoIGZpbGwtb3BhY2l0eT0nMCcgc3Ryb2tlPScjMjkyOTI5JyBzdHJva2Utd2lkdGg9JzAuMDknIGQ9J003LDFMLTIsMTBN Nyw2TC0yLDE1TTcsLTRMLTIsNScvPgoJCTwvcGF0dGVybj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPSc1MCUnIGhlaWdod D0nMTAwJScgZmlsbD0ndXJsKCNjKScvPgoJPHJlY3QgeD0nNTAlJyB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9 J3VybCgjYzIpJy8+Cjwvc3ZnPg==');\n \n margin:0; padding:0;\n overflow-x:hidden;\n height:100%;\n font-family: 'Lato', Helvetica, arial, sans-serif;\n font-weight: 300;\n font-size: 20px;\n line-height: 1.45;\n color: #eee;\n color: rgba(255,255,255,.85);\n}\n#container { \n padding-top: 50px;\n}\n#content {\n max-width: 43em;\n padding:10px;\n margin: 0 auto;\n}\nh1 {\n font-size: 4.8em;\n font-weight: 100;\n text-transform: uppercase;\n margin: 0;\n}\nh3 {\n font-size: 2.4em;\n font-weight: 300;\n line-height: 1.5;\n}\np, li {\n font-size: 1.7em;\n}\na {\n font-weight: 700;\n text-decoration: none;\n color: #fff;\n}\na:hover {\n text-decoration: underline;\n}\np#pleft {\n max-width:20em;\n float:left;\n}\np#pright {\n max-width:20em;\n float:left;\n}\nul {\n clear:both;\n}\n\n\nhtml { font-size: 62.5%; }\nbody { font-size: 1em;}\n\n/* PYRAMID CODE */\n.stage {\n -webkit-transform:scale(1.85);\n transform:scale(0.85);\n float:right;\n margin-right:120px;\n margintop:30px;\n width:0px; height:0px;\n \n position:relative; \n -webkit-perspective:1200px;\n -webkit-perspective-origin:50% 50%;\n perspective:1200px;\n perspective-origin:50% 50%;\n}\n.pyramid3d {\n position:relative;\n width:150px;\n height:150px;\n \n -webkit-transform-style: preserve-3d;\n transform-style: preserve-3d;\n -webkit-transform: rotateX(75deg) rotate(65deg);\n transform: rotateX(75deg) rotate(65deg);\n -webkit-animation: turnPyramid 10s linear infinite;\n animation: turnPyramid 10s linear infinite;\n}\n.triangle {\n -webkit-transform-style:preserve-3d;\n transform-style:preserve-3d;\n width:0; height:0;\n background:none;\n}\n.triangle:before{\n content:\"\";\n position: absolute;\n height: 0; width: 0;\n border-style: solid;\n border-width: 176px 75px 0 75px;\n}\n.side1 { -webkit-transform: translatex(0) rotatey(115.2deg) rotatez(90deg); transform: translatex(0) rotatey(115.2deg) rotatez(90deg); }\n.side2 { -webkit-transform: translatex(150px) rotatez(90deg) rotatex(64.8deg); transform: translatex(150px) rotatez(90deg) rotatex(64.8deg); }\n.side3 { -webkit-transform: translatez(0) rotatex(64.8deg); transform: translatez(0) rotatex(64.8deg); }\n.side4 { -webkit-transform: translatey(150px) rotatex(115.2deg); transform: translatey(150px) rotatex(115.2deg); }\n.side1:before{ border-color: rgba(115, 115, 0, 0.3) transparent transparent transparent; }\n.side2:before{ border-color: rgba(20, 90, 225, 0.3) transparent transparent transparent; }\n.side3:before{ border-color: rgba(255, 0, 0, 0.3) transparent transparent transparent; } \n.side4:before{ border-color: rgba(0, 255, 255, 0.3) transparent transparent transparent; }\n\n\n@-webkit-keyframes turnPyramid { 100% { -webkit-transform: rotateX(75deg) rotate(425deg); } }\n@keyframes turnPyramid { 100% { transform: rotateX(75deg) rotate(425deg); } }\n\n@media (max-width: 300px) {\n html { font-size: 70%; }\n .stage { -webkit-transform:scale(0.05); transform:scale(0.05); }\n}\n@media (max-width: 440px) {\n h1 { line-height:55px; } \n}\n@media (max-width: 460px) { \n .stage { position:absolute; top:25px; left:50%; margin-left:-45px; } \n h1 { margin-top:50px; text-align:center; }\n}\n@media (max-width:600px) { .stage { -webkit-transform:scale(0.55); transform:scale(0.55); marginright:60px; } }\n@media (min-width: 600px) {\n html { font-size: 80%; }\n .stage { -webkit-transform:scale(0.68); transform:scale(0.68); margin-right:80px; }\n}\n@media (min-width: 880px) {\n html { font-size: 120%; }\n p, li { font-size: 1em; }\n p#pright { margin-left:3em; }\n .stage { -webkit-transform:scale(0.85); transform:scale(0.85); margin-right:120px; }\n}","output":"str","x":390,"y":860,"wires":[[]]},{"id":"34a75e3599535943","type":"ui_template","z":"f52cc72524bafd3a","group":" 2b05317674db32db","name":"HTML","order":5,"width":16,"height":6,"format":"
\n 
\n 
\n 

\n 
\n Our App breaks the usual way to book the train ticket.\n 

\n 
 Beneficts of using our App 
\n 
\n 
Online Ticket Booking
\n 
Automated Ticket verification
\n 
Work Load reducction for user
\n 
\n 
\n 
\n
","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x" :170,"y":860,"wires":[["8645d955a9d6c18e"]]},{"id":"44f5a8f98a8f4c44","type":"debug","z":"f52cc72524bafd3a","name":"","active" :true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x" :610,"y":480,"wires":[]},{"id":"ad9a0f7ca9f8cd3e","type":"debug","z":"f52cc72524bafd3a","name":"","active":true,"tosidebar":true," console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"3fb941c50110 05c9","type":"function","z":"f52cc72524bafd3a","name":"Confirmation Message","func":"if(msg.payload == 2)\n{\n msg.payload = \"successfully logged in \";\n}\nelse\n{\n msg.payload = \"Invalid Username or Password \";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":260,"wires":[["3b6652d124ebc609"]]},{"id":"72fd7a4d54 06998a","type":"ui_ui_control","z":"f52cc72524bafd3a","name":"","events":"all","x":860,"y":200,"wires":[[]]},{"id":"df28d7342dcf1 cdf","type":"function","z":"f52cc72524bafd3a","name":"Reset Function","func":"\nmsg = { payload: \"\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":320,"wires":[["3b6652d124ebc609"]]},{"id":"44e5b303c1 4176b3","type":"function","z":"f52cc72524bafd3a","name":"Reset Function","func":"\nmsg = { payload: \"\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":700,"wires":[["7d458d15a4155be9"]]},{"id":"52450b180 4804a6d","type":"delay","z":"f52cc72524bafd3a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1", "nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false, "outputs":1,"x":680,"y":320,"wires":[["df28d7342dcf1cdf"]]},{"id":"707b2b2572d7d441","type":"delay","z":"f52cc72524bafd3a","na me":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst ":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":700,"wires":[["44e5b303c141 76b3"]]},{"id":"b0b76f0290afd29b","type":"ui_text","z":"f52cc72524bafd3a","group":"b944bd655d2bb705","order":2,"width":12,"he ight":1,"name":"","label":"Login","format":"{{msg.payload}}","layout":"rowspread","className":"","x":130,"y":100,"wires":[]},{"id":"286873e276b4374c","type":"ui_text","z":"f52cc72524bafd3a","group":"37 a267ed1a458278","order":2,"width":14,"height":1,"name":"","label":"Sign Up","format":"{{msg.payload}}","layout":"rowspread","className":"","x":100,"y":400,"wires":[]},{"id":"e09be1bc4c560319","type":"ui_text","z":"f52cc72524bafd3a","group":"2b 05317674db32db","order":2,"width":16,"height":1,"name":"","label":"About ","format":"{{msg.payload}}","layout":"rowspread","className":"","x":170,"y":820,"wires":[]},{"id":"4bf26f3350375ca5","type":"cloudant out","z":"f52cc72524bafd3a","name":"User DB","cloudant":"677fd414506f8cdc","database":"userlist","service":"_ext_","payonly":false,"operation":"insert","x":360,"y":500,"wir es":[]},{"id":"93cffbd8088dc2e3","type":"ui_button","z":"f71bd8f6e16cc47c","name":"","group":"ac7d73420ebc6459","order":2,"wi dth":6,"height":1,"passthru":false,"label":"Book a ticket!","tooltip":"","color":"","bgcolor":"Blue","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"passenger_tracking\"],\"s how\":[\"passenger_first\",\"passenger_ticket_form\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":60,"wi res":[["1836e3ef92e87d1b"]]},{"id":"1836e3ef92e87d1b","type":"ui_ui_control","z":"f71bd8f6e16cc47c","name":"","events":"all","x ":480,"y":100,"wires":[["b05cfec67a702079"]]},{"id":"b05cfec67a702079","type":"debug","z":"f71bd8f6e16cc47c","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":100 ,"wires":[]},{"id":"b354f0691ad8b90c","type":"ui_button","z":"f71bd8f6e16cc47c","name":"","group":"ac7d73420ebc6459","order": 4,"width":6,"height":1,"passthru":false,"label":"Check status","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"3","payloadType":"num","topic":"","topicType" :"str","x":190,"y":120,"wires":[["efe4dab3f0db96a4"]]},{"id":"a727b6da239992fc","type":"ui_button","z":"f71bd8f6e16cc47c","nam e":"","group":"b7c6ddcc5be17ee3","order":10,"width":4,"height":1,"passthru":false,"label":"back","tooltip":"","color":"","bgcolor":"r ed","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"passenger_tracking\",\"passenger_ticket_form\"],\"show\":[\"passeng er_first\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":210,"y":1140,"wires":[["9c9951bcc5b6202b"]]},{"id":"9c9 951bcc5b6202b","type":"ui_ui_control","z":"f71bd8f6e16cc47c","name":"","events":"all","x":400,"y":1140,"wires":[["d343423931a6 2c88"]]},{"id":"d343423931a62c88","type":"debug","z":"f71bd8f6e16cc47c","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType" :"auto","x":620,"y":1140,"wires":[]},{"id":"10f498aed4553517","type":"ui_form","z":"f71bd8f6e16cc47c","name":"","label":"","grou p":"b7c6ddcc5be17ee3","order":7,"width":13,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"ro ws":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Mobile Number","value":"no","type":"number","required":true,"rows":null}],"formValue":{"name":"","age":"","no":""},"payload":"","submit ":"submit","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":130,"y":880,"wires":[["3e6e6 a588f486567","6ba6b7b21a4beed0","5ea7628d9f80e6a3"]]},{"id":"3e6e6a588f486567","type":"function","z":"f71bd8f6e16cc47c","n ame":"tickets availablity","func":"global.set('m', msg.payload)\nvar a= global.get('s')\nif(a==1|| a==2 || a==3 || a==4 || a==5)\n{\nmsg.payload = 0\n}\nelse{\nmsg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":780,"wires":[["5f62828e1a9c1e8b"]]},{"id":"6ba6b7b21a 4beed0","type":"function","z":"f71bd8f6e16cc47c","name":"remove booked seat","func":"var s = global.get('s')\nvar a = global.get('a') \n/**\n* @param {any} x\n*/\nfunction rem(x){\nfor (let i=0; i","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":860,"y":340, "wires":[[]]},{"id":"7a3160653571d92b","type":"ui_toast","z":"f71bd8f6e16cc47c","position":"dialog","displayTime":"3","highlight" :"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":850,"y":260,"wires":[[]]},{" id":"9aca2a7218697126","type":"delay","z":"f71bd8f6e16cc47c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minu tes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"al lowrate":false,"outputs":1,"x":500,"y":420,"wires":[["d73d1bc82e114706"]]},{"id":"d73d1bc82e114706","type":"function","z":"f71b d8f6e16cc47c","name":"Empty Data","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":420,"wires":[["424882e7cce512ac"]]},{"id":"59971d5211 240aad","type":"function","z":"f71bd8f6e16cc47c","name":"confirmation message","func":"msg.payload=\"Ticket is Booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":260,"wires":[["7a3160653571d92b"]]},{"id":"7c5080966 9a5ec14","type":"function","z":"f71bd8f6e16cc47c","name":"Boarding details","func":"global.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1280,"wires":[[]]},{"id":"a4448ac26db30ca9","type":"fun ction","z":"f71bd8f6e16cc47c","name":"Destination details","func":"global.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1340,"wires":[[]]},{"id":"e7d895c0165d60b4","type":"fun ction","z":"f71bd8f6e16cc47c","name":"Seat preference","func":"global.set('sp',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1400,"wires":[[]]},{"id":"e9926ad59ac8e756","type":"fun ction","z":"f71bd8f6e16cc47c","name":"Date of journey","func":"global.set('doj',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1460,"wires":[[]]},{"id":"ed5d3919b5276f7e","type":"co mment","z":"f71bd8f6e16cc47c","name":"Ticket Booking Form","info":"","x":130,"y":740,"wires":[]},{"id":"98e4264fa13ec344","type":"comment","z":"f71bd8f6e16cc47c","name":"QR code generation","info":"","x":150,"y":240,"wires":[]},{"id":"d2132b9efa435f37","type":"comment","z":"f71bd8f6e16cc47c","name":"Dat abase","info":"","x":140,"y":460,"wires":[]},{"id":"179b1f39a48bdae3","type":"debug","z":"f71bd8f6e16cc47c","name":"","active":tr ue,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":540,"wires":[]},{ "id":"dce0f651e6036656","type":"function","z":"f71bd8f6e16cc47c","name":"Storing data in DB","func":"var m=global.get('m')\nvar d=new Date();\nvar utc=d.getTime()+ (d.getTimezoneOffset()*60000);\nvar offset =5.5;\nvar newDate=new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date=n.slice(0,10)\nvar time=n.slice(11,19)\nvar d1=date+','+time\nvar final = d1\nmsg.payload={\n \"unique\" :d1,\n \"Name\" :m.name,\n \"Age\" : m.age,\n \"Mobile\" : m.no,\n \"Boarding\" :global.get('b'),\n \"Destination\" :global.get('d'),\n \"Seat\" : global.get('s'),\n \"Seat preference\" :global.get('sp'),\n \"Date of Journey\" :global.get('doj')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":660,"wires":[["89b71dc3ad7e3166","9f57c71506a38c1c"] ]},{"id":"89b71dc3ad7e3166","type":"debug","z":"f71bd8f6e16cc47c","name":"","active":true,"tosidebar":true,"console":false,"tostat us":false,"complete":"false","statusVal":"","statusType":"auto","x":190,"y":540,"wires":[]},{"id":"9f57c71506a38c1c","type":"clouda ntplus-selector out","z":"f71bd8f6e16cc47c","name":"","cloudant":"70f24333f5620ef9","database":"bookingdetails","service":"_ext_","payonly":fals e,"operation":"insert","x":380,"y":660,"wires":[["583ab398ed3b91ee","179b1f39a48bdae3"]]},{"id":"ea8040dbb3c287d8","type":"ui_ form","z":"99ac19833e40aec1","name":"","label":"","group":"6fb2565163e214d9","order":1,"width":0,"height":0,"options":[{"label": "username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"text","req uired":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"","topic":"payload","t opicType":"msg","splitLayout":"","className":"","x":90,"y":100,"wires":[["da9c78d1d8cbaf7d"]]},{"id":"da9c78d1d8cbaf7d","type" :"delay","z":"99ac19833e40aec1","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRate Units":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs ":1,"x":250,"y":100,"wires":[["900e5d16d15bd1f3"]]},{"id":"900e5d16d15bd1f3","type":"function","z":"99ac19833e40aec1","name": "Login Checker","func":"var tteName;\nvar tteCode;\nvar name;\nvar pass;\n\ntteName = \"Mary Joans\";\ntteCode = \"1234\";\n\nname=msg.payload.username;\npass = msg.payload.password;\n\nif(name ==tteName && pass == tteCode )\n{\n var msg = {payload:4};\n}\nelse\n{\n var msg = {payload:1};\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":100,"wires":[["fca34cd0197dd7fd","df5269c2148e34bf" ,"1a947797f7221936","02aeea0e97a0ac67"]]},{"id":"fca34cd0197dd7fd","type":"debug","z":"99ac19833e40aec1","name":"","active" :true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x" :770,"y":100,"wires":[]},{"id":"dc29e7dc9b45fe8b","type":"ui_text","z":"99ac19833e40aec1","group":"6fb2565163e214d9","order":2 ,"width":0,"height":0,"name":"Login feedback","label":"","format":"{{msg.payload}}","layout":"rowspread","className":"","x":1060,"y":160,"wires":[]},{"id":"df5269c2148e34bf","type":"function","z":"99ac19833e40aec1","name":" Confirmation Message","func":"if(msg.payload == ~(true))\n{\n msg.payload = \"successfully logged in \";\n}\nelse\n{\n msg.payload = \"Invalid Username or Password \";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":160,"wires":[["dc29e7dc9b45fe8b"]]},{"id":"8ef3f9166c0 978ae","type":"comment","z":"99ac19833e40aec1","name":"TTE Login Page","info":"","x":200,"y":40,"wires":[]},{"id":"dbdfff23a25fab1b","type":"function","z":"99ac19833e40aec1","name":"Reset Function","func":"\nmsg = { payload: \"\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":240,"wires":[["dc29e7dc9b45fe8b"]]},{"id":"1a947797f7 221936","type":"delay","z":"99ac19833e40aec1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1"," nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false," outputs":1,"x":660,"y":240,"wires":[["dbdfff23a25fab1b"]]},{"id":"8bcebec578bbd080","type":"comment","z":"99ac19833e40aec1"," name":"TTE Dashboard","info":"","x":140,"y":320,"wires":[]},{"id":"deab1cc14a533cca","type":"ui_text","z":"99ac19833e40aec1","group":"c5d2 c2754eeda1d3","order":2,"width":15,"height":1,"name":"","label":"Welcome! The Details of scanned QR code is shown below:","format":"{{msg.payload}}","layout":"colcenter","className":"","x":360,"y":360,"wires":[]},{"id":"02aeea0e97a0ac67","type":"ui_ui_control","z":"99ac19833e40aec1","nam e":"","events":"all","x":720,"y":40,"wires":[[]]},{"id":"0555254f83058140","type":"ui_button","z":"99ac19833e40aec1","name":"","g roup":"c5d2c2754eeda1d3","order":12,"width":5,"height":1,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"black" ,"className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":280,"y":420,"wires":[["69fa025 5d42cea03"]]},{"id":"69fa0255d42cea03","type":"ui_ui_control","z":"99ac19833e40aec1","name":"","events":"all","x":480,"y":420," wires":[[]]},{"id":"3221ce22d1787743","type":"ibmiot in","z":"99ac19833e40aec1","authentication":"apiKey","apiKey":"db4157730f8a536b","inputType":"evt","logicalInterface":"","ruleId ":"","deviceId":"876543","applicationId":"","deviceType":"QR_Reads","eventType":"+","commandType":"","format":"json","name": "IBM IoT OR Code","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allC ommands":"","allFormats":"","qos":0,"x":140,"y":640,"wires":[["ed5dd32d7dd0f213","169b8c59c85abf89"]]},{"id":"ed5dd32d7dd0f 213","type":"ui_text","z":"99ac19833e40aec1","group":"c5d2c2754eeda1d3","order":5,"width":15,"height":1,"name":"QR code details","label":"","format":"{{msg.payload}}","layout":"colcenter","className":"","x":620,"y":640,"wires":[]},{"id":"169b8c59c85abf89","type":"debug","z":"99ac19833e40aec1","name":"","a ctive":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x ":470,"y":740,"wires":[]},{"id":"420cdc88c74795d3","type":"comment","z":"99ac19833e40aec1","name":"Dispalys the scanned information","info":"","x":210,"y":520,"wires":[]},{"id":"db978ad919cb1b5b","type":"ui_text","z":"88ddf047c2fd0805","group":"cbd ee607deecfaad","order":1,"width":0,"height":0,"name":"","label":"Track the Location of Delhi Express","format":"{{msg.payload}}","layout":"rowspread","className":"","x":380,"y":280,"wires":[]},{"id":"64b68ff52a8782e2","type":"ui_button","z":"88ddf047c2fd0805","name":" ","group":"4a564af7723db036","order":1,"width":6,"height":1,"passthru":false,"label":"Delhi Express","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Track_Train_status_Trai n2\",\"Track_Train_status_Train3\"],\"show\":[\"Track_Train_status_Train1\",\"Track_Train_status_Choose_the_Train\",\"Track_Trai n_status_Back\"]}}","payloadType":"json","topic":"payload","topicType":"msg","x":200,"y":40,"wires":[["a922096c836b369d"]]},{" id":"8cb91f1b26a56c56","type":"ui_button","z":"88ddf047c2fd0805","name":"","group":"4a564af7723db036","order":5,"width":6,"h eight":1,"passthru":false,"label":"Mysuru SF Express","tooltip":"","color":"","bgcolor":"Green","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Track_Train_status_T rain1\",\"Track_Train_status_Train3\"],\"show\":[\"Track_Train_status_Train2\",\"Track_Train_status_Choose_the_Train\",\"Track_T rain_status_Back\"]}}","payloadType":"json","topic":"payload","topicType":"msg","x":210,"y":100,"wires":[["eb85b48d552b2896"]] },{"id":"27c68eee34fc943b","type":"ui_button","z":"88ddf047c2fd0805","name":"","group":"4a564af7723db036","order":3,"width":6 ,"height":1,"passthru":false,"label":"Goa Express","tooltip":"","color":"","bgcolor":"Orange","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Track_Train_status_ Train1\",\"Track_Train_status_Train2\"],\"show\":[\"Track_Train_status_Train3\",\"Track_Train_status_Choose_the_Train\",\"Track_ Train_status_Back\"]}}","payloadType":"json","topic":"payload","topicType":"msg","x":190,"y":160,"wires":[["92f07b069b3c90a3"] ]},{"id":"eb85b48d552b2896","type":"ui_ui_control","z":"88ddf047c2fd0805","name":"","events":"change","x":460,"y":100,"wires": [["becc127ee91d2b21"]]},{"id":"8feaa0ca21210d1a","type":"ui_text","z":"88ddf047c2fd0805","group":"b8abd299d2d34998","order" :1,"width":0,"height":0,"name":"","label":"Track the Location of Mysuru SF Express","format":"{{msg.payload}}","layout":"row- spread","className":"","x":340,"y":500,"wires":[]},{"id":"a845f237c6220289","type":"ui_text","z":"88ddf047c2fd0805","group":"f7 659eba2a245636","order":1,"width":0,"height":0,"name":"","label":"Track the Location of Goa Express","format":"{{msg.payload}}","layout":"rowspread","className":"","x":360,"y":700,"wires":[]},{"id":"e149e0138225f9e2","type":"comment","z":"88ddf047c2fd0805","name":" Delhi Express - Train1","info":"","x":120,"y":260,"wires":[]},{"id":"d3a3e46b40b94cde","type":"comment","z":"88ddf047c2fd0805","name":"Goa Express - Train 3","info":"","x":140,"y":640,"wires":[]},{"id":"114342b646a1ffb3","type":"comment","z":"88ddf047c2fd0805","name":"Mysuru SF Express - Train 2","info":"","x":140,"y":440,"wires":[]},{"id":"becc127ee91d2b21","type":"debug","z":"88ddf047c2fd0805","name":"","active":true," tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id" :"6a79b90ab505cc78","type":"ibmiot in","z":"88ddf047c2fd0805","authentication":"apiKey","apiKey":"2fab6fa94a4588a3","inputType":"evt","logicalInterface":"","ruleId" :"","deviceId":"12345","applicationId":"","deviceType":"2702","eventType":"status","commandType":"","format":"json","name":"IB M IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCom mands":"","allFormats":"","qos":0,"x":110,"y":340,"wires":[["082aefee989b482c"]]},{"id":"e8afbf4f462ff400","type":"ibmiot in","z":"88ddf047c2fd0805","authentication":"apiKey","apiKey":"2fab6fa94a4588a3","inputType":"evt","logicalInterface":"","ruleId" :"","deviceId":"mysore","applicationId":"","deviceType":"train2","eventType":"status","commandType":"","format":"json","name":"I BM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCom mands":"","allFormats":"","qos":0,"x":110,"y":540,"wires":[["2a9153744ebb4760"]]},{"id":"a922096c836b369d","type":"ui_ui_contr ol","z":"88ddf047c2fd0805","name":"","events":"change","x":460,"y":40,"wires":[["becc127ee91d2b21"]]},{"id":"92f07b069b3c90a 3","type":"ui_ui_control","z":"88ddf047c2fd0805","name":"","events":"change","x":420,"y":160,"wires":[["becc127ee91d2b21"]]},{" id":"082aefee989b482c","type":"ui_worldmap","z":"88ddf047c2fd0805","group":"cbdee607deecfaad","order":2,"width":0,"height":0, "name":"","lat":"","lon":"","zoom":"","layer":"OSMC","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","pa nlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"fa lse","path":"/worldmap1","overlist":"CO,RA,DN,HM","maplist":"OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop"," mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":410,"y":340,"wires":[]},{"id":"2a9153744ebb4760","type":"ui_worldmap ","z":"88ddf047c2fd0805","group":"b8abd299d2d34998","order":2,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer" :"OSMC","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hideright click":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap2","overlist":"CO,D N,BU,RW","maplist":"OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop","mapname":"","mapurl":"","mapopt":"","map wms":false,"x":430,"y":540,"wires":[]},{"id":"542eb339b85a316b","type":"ui_worldmap","z":"88ddf047c2fd0805","group":"f7659eb a2a245636","order":2,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSMC","cluster":"","maxage":"","usermen u":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"fal se","showruler":"false","allowFileDrop":"false","path":"/worldmap3","overlist":"CO,DN,BU,RW","maplist":"OSMC,EsriC,EsriS,Esri T,EsriO,EsriDG,NatGeo,UKOS,OpTop","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":330,"y":780,"wires":[]},{"id":" 0c13e3da3396d63c","type":"ibmiot in","z":"88ddf047c2fd0805","authentication":"apiKey","apiKey":"2fab6fa94a4588a3","inputType":"evt","logicalInterface":"","ruleId" :"","deviceId":"678910","applicationId":"","deviceType":"2702","eventType":"status","commandType":"","format":"json","name":"I BM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCom mands":"","allFormats":"","qos":0,"x":90,"y":760,"wires":[["542eb339b85a316b"]]},{"id":"ab7c1600a2be9df0","type":"ui_button","z ":"88ddf047c2fd0805","name":"","group":"2ce80e7fb4c43499","order":2,"width":6,"height":1,"passthru":false,"label":"Back","tooltip ":"","color":"","bgcolor":"Brown","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Track_Train_status_Train1\",\"Track_ Train_status_Train2\",\"Track_Train_status_Train3\",\"Track_Train_status_Back\"],\"show\":[\"Track_Train_status_Choose_the_Trai n\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":290,"y":220,"wires":[["3d9a79d5140f6e13"]]},{"id":"3d9a79d51 40f6e13","type":"ui_ui_control","z":"88ddf047c2fd0805","name":"","events":"change","x":500,"y":220,"wires":[["becc127ee91d2b2 1"]]}] 